@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Murecho:wght@100..900&display=swap');

body {
    margin: 0;
    font-family: "Murecho", sans-serif!important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    height: 100svh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}